{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-8 mr-96">
    <h1 class="text-5xl py-16">S'inscrire</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstname, {
            label: 'Prénom'
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Nom'
        }) }}
        {{ form_row(registrationForm.gender, {
            label: 'Genre'
        }) }}
        {{ form_row(registrationForm.birthdate, {
            label: 'Date de naissance'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit">Valider</button>
    {{ form_end(registrationForm) }}

</div>
</div>
{% endblock %}
