{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
    <h1>Matchs</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Match n°</th>
            <th>Table n°</th>
            <th>Score Joueur 1</th>
            <th>Score Joueur 2</th>

        </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.roundNumber }}</td>
                <td>{{ game.tableNumber }}</td>
                <td>{{ game.scorePlayerOne }}</td>
                <td>{{ game.scorePlayerTwo }}</td>
                <td>
                    <a href="{{ path('app_game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_game_new') }}">Create new</a>

    </div>
{% endblock %}
