{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ game.id }}</td>
        </tr>
        <tr>
            <th>RoundNumber</th>
            <td>{{ game.roundNumber }}</td>
        </tr>
        <tr>
            <th>TableNumber</th>
            <td>{{ game.tableNumber }}</td>
        </tr>
        <tr>
            <th>ScorePlayerOne</th>
            <td>{{ game.scorePlayerOne }}</td>
        </tr>
        <tr>
            <th>ScorePlayerTwo</th>
            <td>{{ game.scorePlayerTwo }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_game_index') }}">back to list</a>

    <a href="{{ path('app_game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
{% endblock %}
