{% extends 'base.html.twig' %}

{% block title %}Connection{% endblock %}

{% block body %}

    {% if app.flashes('error') %}
        <div class="alert alert-danger text-red-500">
            {{ app.flashes('error')[0] }}
        </div>
    {% endif %}


    <div class="container mt-8 ml-12 mr-96">
        <h1 class="text-5xl py-16">Connexion</h1>



        <div class="flex">

            <form action="{{ path('app_login') }}" method="post">
                <label for="username">Email*</label>
                <input class="ml-16 pl-3" type="text" id="username" name="_username" value="{{ last_username }}">
                <br>
                <label for="password">Mot de Passe*</label>
                <input class="ml-2 pl-3" type="password" id="password" name="_password">
                <br>
                {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <br>
                <button class="button ml-48" type="submit">Connexion</button>
            </form>

        </div>
        <div class="ml-48">
            <a href="{{ path('app_register') }}" class="text-sm">Pas encore de compte ?</a>
        </div>

        <div class="ml-48">
            <a href="" class="text-sm">Mot de passe oublié ?</a>
        </div>

    </div>

{% endblock %}
