{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block body %}
    <div class="bg-white pb-36">
    <h1 class="text-5xl py-16">Tous les tournois</h1>

    <table class="my-8">
        <thead>
            <tr>
                <th>Nom du tournoi</th>
                <th>Date</th>
                <th>DateEnd</th>
                <th>Description</th>
                <th>Type</th>
                <th>Nombre de joueurs</th>
                <th>Nombre de tables</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}

            <tr>

                <td>{{ tournament.name }}</td>
                <td>{{ tournament.dateStart ? tournament.dateStart|date('Y-m-d H:i') : '' }}</td>
                <td>{{ tournament.dateEnd ? tournament.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ tournament.description }}</td>
                <td>{{ tournament.type }}</td>
                <td>{{ tournament.playerNumber }}</td>
                <td>{{ tournament.tableNumber }}</td>


                <td>
                    <button class="bg-blue rounded-full px-8 py-2 h-10 border-2 uppercase text-white">
                        <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">Détails</a></button>
                    <button class="bg-blue rounded-full px-8 py-2 h-10 border-2 uppercase text-white">
                        <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">Modifier</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de tournois prévus</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <button class="bg-blue rounded-full px-8 py-2 h-10 border-2 uppercase text-white">
            <a href="{{ path('app_tournament_new') }}">Créer un tournoi</a></button>
    </div>
    </div>
{% endblock %}
