{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block body %}
    <div class="pb-36 px-12">
        <h1 class="text-5xl py-16">Tous les tournois</h1>

        <div class=" bg-white">
            <div class="grid grid-cols-4">
                {% for tournament in tournaments %}

                    <div class="text-sm">
                        <p>Nom du tournoi</p>
                        <p>Date</p>
                        <p>Description</p>
                        <p>Type</p>
                        <p>Nombre de joueurs</p>
                        <p>Nombre de tables</p>
                    </div>


                    <div class="text-sm font-normal">

                        <p>{{ tournament.name }}</p>
                        <p>{{ tournament.dateStart ? tournament.dateStart|date('d-m-Y H:i') : '' }}</p>
                        <p>{{ tournament.description }}</p>
                        <p>{{ tournament.type }}</p>
                        <p>
                            {{ tournament.players|length }}
                            /
                            {{ tournament.playerNumber }}
                        </p>
                        <p>{{ tournament.tableNumber }}</p>
                    </div>

                    <div>
                        <p><img src="{{ asset('uploads/' ~ tournament.image) }}" alt="{{ tournament.image }}"
                                class="object-scale-down h-48 w-96 rounded "></p>
                    </div>
                    <div>

                        <button>
                            <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">Détails</a></button>
                        <button>
                            <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">Modifier</a></button>
                        <button>
                            <a href="{{ path('app_tournament_show', { 'id': tournament.id }) }}">Participer</a></button>

                    </div>

                {% else %}

                    <p colspan="10">Pas de tournois prévus</p>

                {% endfor %}


                <button>
                    <a href="{{ path('app_tournament_new') }}">Créer un tournoi</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}
