{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block body %}
    <div class="pb-36 px-12">
        <h1 class="text-5xl py-16">Tous les tournois</h1>
        <div class="card lg:grid grid-cols-3">
            {% for tournament in tournaments %}
                <div class=>
                    <p><img src="{{ asset('uploads/' ~ tournament.image) }}" alt="{{ tournament.image }}"
                            class="object-cover h-96 w-96 rounded-lg mt-16 mb-12 ml-64 lg:ml-0"></p>
                </div>
                <div class="text-lg font-normal ml-12 lg:ml-2 lg:mt-20">
                    <p class="font-bold">{{ tournament.name }}</p>
                    <p>{{ tournament.dateStart ? tournament.dateStart|date('d/m/Y H:i') : '' }}</p>
                    <p>{{ tournament.description }}</p>
                    <p>{{ tournament.type }}</p>
                    <p>Nombre de joueurs :
                        {{ tournament.players|length }}
                        /
                        {{ tournament.playerNumber }}
                    </p>
                    <p>Nombre de table : {{ tournament.tableNumber }}</p>
                </div>


                <div class="flex flex-col lg:justify-center mt-8 lg:mt-12 ml-48 lg:ml-4">

                    <button class="button mr-48">
                        <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">Détails</a></button>

                    <button class="button mr-48">
                        <a href="{{ path('app_tournament_show', { 'id': tournament.id }) }}">Participer</a></button>

                    {% if is_granted('ROLE_ADMIN') %}
                        <button class="button mr-48">
                            <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">Modifier</a></button>
                    {% endif %}
                </div>

            {% else %}

                <p colspan="10">Pas de tournois prévus</p>

            {% endfor %}


        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <button class="button ml-24 lg:ml-60 mt-12">
                <a href="{{ path('app_tournament_new') }}">Créer un tournoi</a>
            </button>
        {% endif %}
    </div>


{% endblock %}

















