{% extends 'base.html.twig' %}

{% block title %}Liste des tournois{% endblock %}

{% block body %}
    <div class="container mt-8 mr-64">

    <div class="bg-white mr-12 pb-36">
    <h1 class="">Tous les tournois</h1>

    <table class="my-8">
        <thead>
            <tr class="text-lg">
                <th>Nom du tournoi</th>
                <th>Date</th>
                <th>Description</th>
                <th>Type</th>
                <th>Nombre de joueurs</th>
                <th>Nombre de tables</th>
            </tr>
        </thead>
        <tbody>
        {% for tournament in tournaments %}

            <tr class="text-sm font-normal">

                <td>{{ tournament.name }}</td>
                <td>{{ tournament.dateStart ? tournament.dateStart|date('Y-m-d H:i') : '' }}</td>
                <td>{{ tournament.description }}</td>
                <td>{{ tournament.type }}</td>
                <td>{{ tournament.playerNumber }}</td>
                <td>{{ tournament.tableNumber }}</td>

                <td><img src="{{ asset('uploads/' ~ tournament.image) }}" alt="{{ tournament.image }}" class="object-scale-down h-48 w-96 rounded "></td>


                <td>
                    <button>
                        <a href="{{ path('app_tournament_show', {'id': tournament.id}) }}">Détails</a></button>
                    <button>
                        <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">Modifier</a></button>
                    <button>
                        <a href="{{ path('app_game', {'id': tournament.id}) }}">Participer</a></button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de tournois prévus</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


        <button>
            <a href="{{ path('app_tournament_new') }}">Créer un tournoi</a></button>
    </div>
    </div>
    </div>
{% endblock %}
