{% extends 'base.html.twig' %}

{% block title %}Tournament{% endblock %}

{% block body %}

    <div class="container mt-8 mr-96">
        <h1 class="text-5xl py-16">{{ tournament.name }}</h1>

        <div class="max-w-xl rounded overflow-hidden shadow-lg py-8 ml-8 bg-white px-6 py-4">
            <div class="grid grid-cols-3">
            <img src="{{ asset('uploads/' ~ tournament.image) }}" alt="{{ tournament.image }}">

            <p>Date :</p>
            <p>{{ tournament.dateStart ? tournament.dateStart|date('d-m-Y H:i:s') : '' }}</p>
            <p>Description :</p>
            <p>{{ tournament.description }}</p>
            <p>Type :</p>
            <p>{{ tournament.type }}</p>
            <p>Nombre de joueurs :</p>
            <p>{{ tournament.playerNumber }}</p>
            <p>Nombre de tables :</p>
            <p>{{ tournament.tableNumber }}</p>
            <p>Participants :</p>
            <ul>
                {% for player in tournament.players %}
                    <li>
                        {{ player.fullName }}
                    </li>
                {% endfor %}
            </ul>

            {% if tournament.hasPlayer(app.user) %}
                <button>
                    <a href="{{ path('app_tournament_participate', {'id': tournament.id}) }}">
                    Se désinscrire
                    </a>
                </button>
            {% elseif (tournament.availablePlayerNumber > 0) %}
                <button>
                    <a href="{{ path('app_tournament_participate', {'id': tournament.id}) }}">
                        S'inscrire
                    </a>
                </button>
            {% endif %}

            <button>
                <a href="{{ path('app_tournament_index') }}">Retour à la liste</a>
            </button>

            {% if is_granted('ROLE_ADMIN') %}
                <button>
                    <a href="{{ path('app_tournament_edit', {'id': tournament.id}) }}">modifier</a>
                </button>
                {{ include('tournament/_delete_form.html.twig') }}
            {% endif %}
        </div>

    </div>



{% endblock %}
