<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body>


<nav class=" text-xl h-48  px-12 grid grid-cols-2">

        <a href="{{ path('homepage') }}">
            <img src="{{ asset('uploads/logoTTG.png') }}" alt="logo du site" class="pl-8>">
        </a>


    <div>

        <div class="flex flex-col  items-end mt-2">
            {# si l'utilisateur est connecté #}

            {% if app.user %}
            <img src="{{ asset('uploads/' ~ app.user.image) }}" class="w-24 h-24 rounded-full" alt="Avatar"/>
            <h5 class="mb-2 text-xl font-medium">
                {{ "Bonjour " ~ app.user.fullName }}
            </h5>
            <div class="flex">
                <div>
                            <div>
                                <a href="{{ path('app_user_profile') }}">Votre profil</a>
                            </div>
                            <div>
                                <a href="{{ path('app_logout') }}" class="text-sm">Déconnexion</a>
                            </div>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                        <a href="{{ path('app_register') }}" class="text-sm">S'inscrire</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
    <div class="cursor-pointer pl-8 lg:hidden">
        <i class="fa-solid fa-bars"></i>
    </div>
</nav>


<div class="lg:flex bg-white">
    <nav class="pl-6 md:w-64 ">
        <div class="hidden space-x-8 lg:flex">
            {#  <div class="flex justify-between"> #}
            <div class="text-3xl font-bold">
                <ul class="px-12 pt-8">
                    <li></li>
                    <li><a href="{{ path('app_tournament_index') }}"><i class="fa-solid fa-trophy"></i>Tournois</a></li>
                    <li><a href="{{ path('app_user_index') }}"><i class="fa-solid fa-user-group"></i>Membres</a></li>
                    <li><a><i class="fa-solid fa-list-ol"></i>Classement</a></li>
                    <li><a href="{{ path('app_game') }}">((Matchs))</a></li>
                </ul>
            </div>
        </div>

    </nav>


    <main class="px-8">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}

        {% endblock %}

    </main>
</div>

<footer class=" ">
    <a href="https://instagram.com/cjf_saint_malo_tt?igshid=YmMyMTA2M2Y="><i class="fa-brands fa-instagram"></i></a>
    <p class="text-right text-white">Table Tennis Game &copy; 2023</p>
</footer>

</body>
</html>
