<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>


<body id="top">
<header class=" bg-blue-400 text-3xl w-full">


    <nav class="container flex justify-between px-4 py-8 mx-auto w-full">

        <div class="">
    {# si l'utilisateur est connecté #}
    {% if app.user %}
        <a href="{{ path('app_logout') }}">Déconnexion</a>

    {% else%}
        <a href="{{ path('app_login') }}">Connexion</a>
        <a href="{{ path('app_register') }}">S'inscrire</a>

    {% endif %}
        </div>
    </nav>
    <nav class="container flex justify-between px-4 py-8 mx-auto bg-blue-400">

        <div class="hidden space-x-8 lg:flex">
            {#  <div class="flex justify-between">#}
                <div class="h-screen w-screen text-3xl font-bold">
                    <ul class="px-12 pt-20 mr-8">
                        <div class="pt-12 pb-12">
                            <li><a href="{{ path('homepage') }}">Accueil </a></li>
                        </div>
                        <div class="pb-12">
                            <li><a href="{{ path('app_tournament_index') }}"><i class="fa-solid fa-trophy"></i>  Tournois</a></li>
                        </div>
                        <div class="pb-12">
                            <li>  <a href="{{ path('app_user_index') }}"><i class="fa-solid fa-user-group"></i>Membres</a></li>
                        </div>
                        <div class="pb-12">
                            <li><a href="{{ path('app_user_index') }}"><i class="fa-solid fa-list-ol"></i>  Classement</a></li>
                        </div>
                        <a href="{{ path('app_game') }}">((Matchs))</a>
                    </ul>





                </div>
            </div>


        <div class="cursor-pointer flex lg:hidden">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-6 h-6"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16"
                />
            </svg>
        </div>
    </nav>


    {#  <nav id="main-nav" class="max-w-5xl mx-auto p-6 flex items-center justify-between">
    {#     <button
    {#             aria-label="toggle button"
    {#             aria-expanded="false"
    {#             id="menu-btn"
    {#             class="cursor-pointer w-7 md:hidden">
{#
    {#         <i class="fa-solid fa-bars"></i>
    {#     </button>
   {#      <ul
    {#            id="toggled-menu"
    {#             class="w-full absolute top-full left-0 -translate-y-full -z-10
    {#     text-gray-800 border-b border-gray-200 flex flex-col
    {#     items-center md:static md:z-10 md:w-min md:transform-none
    {#     md:border-none md:flex-row">
    {#          <li class="py-4 md:py-0 md:mr-6">
    {#             <a href="{{ path('app_tournament_index') }}" class="text-sm uppercase font-semibold w-full hover:text-blue-200">Tournois</a>
    {#          </li>
    {#          <li class="py-4 md:py-0 md:mr-6">
    {#              <a href="" class="text-sm uppercase font-semibold w-full hover:text-blue-200">Membres</a>
{#
    {#               </a>
    {#          </li>
    {#          <li class="py-4 md:py-0 md:mr-6">
    {#              <a href="" class="text-sm uppercase font-semibold w-full hover:text-blue-200">Classement</a>
{#
    {#               </a>
     {#          </li>
    {#       </ul>
    {# </nav> #}

</header>








        <main class="px-12">
        {% block body %}
            <div class="container mt-8 mr-96">
        {% endblock %}
    </main>
        <hr class="h-1 mt-20 mb-8 ml-12 -mr-60 bg-white">
    <footer class="">
        <div class="">
            <p class="text-right text-white pt-4">Table Tennis Game &copy; 2023</p>


        </div>
    </footer>


</body>
</html>
