<!DOCTYPE html>
<html class="bg-gray-200">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>


<body>




        <div class="flex justify-between">
            <nav class="h-screen text-3xl font-bold text-lightblue">
                <ul class="px-12 pt-20">
                    <div class="pb-12">
                        <li><a href="{{ path('homepage') }}">
                            Table Tennis Game </a></li>
                        <li><a href="{{ path('app_tournament_index') }}">Tournois</a></li>
                    </div>
                    <div class="pb-12">
                        <li><a href="{{ path('app_user_index') }}">Membres</a></li>
                    </div>
                    <li><a href="{{ path('app_user_index') }}">Classement</a></li>
                </ul>

                <ul>
                    {# si l'utilisateur est connecté #}
                    {% if app.user %}
                    <li><a href="{{ path('app_logout') }}">Déconnection</a></li>

                    {% else%}
                    <li><a href="{{ path('app_login') }}">Connection</a></li>
                    <li><a href="{{ path('app_register') }}">S'inscrire</a></li>

                    {% endif %}
                </ul>



            </nav>

        <main class="px-12">
        {% block body %}

        {% endblock %}
    </main>
        <hr class="h-1 mt-20 mb-8 ml-12 -mr-60 bg-white">
    <footer class="">
        <div class="">
            <p class="text-right text-white pt-4">Table Tennis Game &copy; 2023</p>


        </div>
    </footer>


</body>
</html>
