<article class="card">

    <img src="{{ asset('uploads/' ~ user.image) }}" alt={{"user.name"}}>

    <h3>{{ user.firstName }} {{user.lastName}}</h3>
    <p>{{ user.ranking}}</p>
    <button>
        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary">Détails</a>
    </button>
</article>