{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    <div class="container mt-8 mr-92">
<div class="bg-white mr-36 pb-36 px-12">
    <h1 class="text-5xl py-16">Liste des membres</h1>

    <table class="my-8">
        <thead>
            <tr class="text-lg font-normal">

                <th>Prénom</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Date de naissance</th>
                <th>Classement</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>




            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="text-sm font-normal">


                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.ranking }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.city }}</td>


                <td>
                    <button>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}">Détails</a></button>
                    <button>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a></button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de membres inscrits</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button>
    <a href="{{ path('app_user_new') }}">Créer un membre</a>
    </button>

</div>
    </div>
    </div>
{% endblock %}
