{% extends 'base.html.twig' %}

{% block title %}Liste des membres{% endblock %}

{% block body %}
    <div class="container mt-8 mr-96">
<div class="bg-white pb-36">
    <h1 class="text-5xl py-16">Liste des membres</h1>

    <table class="my-8">
        <thead>
            <tr>

                <th>Prénom</th>
                <th>Nom</th>
                <th>Genre</th>
                <th>Date de naissance</th>
                <th>Classement</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>


                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>


                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
                <td>{{ user.ranking }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipcode }}</td>
                <td>{{ user.city }}</td>

                <td>{{ user.image }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">Pas de membres inscrits</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Enregistrer un nouveau membre</a>

</div>
    </div>
    </div>
{% endblock %}
