{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container mt-8 mr-96">
    <h1 class="text-5xl py-24 px-12">{{ user.firstName }}{{ user.lastName }}</h1>


    <div class=" rounded overflow-hidden shadow-lg py-8 ml-8 bg-white px-12 py-4">
<div class="">
    <table class="table px-24">
        <tbody class="text-left w-screen">

            <tr>
                <th>Prénom :</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom :</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Genre :</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>Date de Naissance :</th>
                <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Classement :</th>
                <td>{{ user.ranking }}</td>
            </tr>
            <tr>
                <th>Adresse :</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>Code Postal :</th>
                <td>{{ user.zipcode }}</td>
            </tr>
            <tr>
                <th>Ville :</th>
                <td>{{ user.city }}</td>
            </tr>



        </tbody>
    </table>

        <img class="py-12" src="{{ asset('uploads/' ~ user.image) }}" alt="{{ user.image }}">

    </div>
        <button>
    <a href="{{ path('app_user_index') }}">Retour à la liste</a>
            </button>
            <button>
    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
            </button>
    {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
    </div>
{% endblock %}
